* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #EEE2DC; }

.jumbotron {
  background: #123C69 url(../images/artificial-flowers-desk-figurines.jpg) no-repeat;
  background-blend-mode: soft-light;
  opacity: 0.9;
  background-size: 100% 100%;
  color: #EEE2DC; }
  .jumbotron .jumbotronText {
    margin: 0 5%; }
    .jumbotron .jumbotronText h1 {
      font-size: 12vw;
      white-space: nowrap;
      text-align: center;
      margin-top: 0px;
      padding-top: 15%; }

.name {
  color: #AC3B61;
  font-family: "Pacifico", cursive; }

/*TOP NAV*/
.topNav {
  text-align: right;
  margin-right: 2%; }
  .topNav a {
    margin-left: 2%;
    color: #EEE2DC;
    text-decoration: none; }

.right {
  float: right; }

.line {
  border: #AC3B61 solid 3px;
  margin: 5% 0;
  clear: both; }

.icons {
  text-align: center; }
  .icons i {
    margin: auto 14.8%;
    color: #EEE2DC; }
    .icons i:hover {
      color: #EDC7B7; }
  .icons .fa-github {
    margin-bottom: 2%; }

.container {
  margin: auto 5%;
  min-height: 100%; }

nav.desktopHide {
  position: sticky;
  top: 0;
  background-color: #EEE2DC;
  z-index: 1;
  margin-top: 1%;
  text-align: center; }
  nav.desktopHide a {
    text-decoration: none;
    margin: auto 5%;
    color: #123C69; }
    nav.desktopHide a:visited {
      color: #AC3B61; }

.desktopShow {
  display: none; }

.aboutMe, .skills, .portfolio {
  color: #123C69; }
  .aboutMe h1, .skills h1, .portfolio h1 {
    font-family: "Lobster", cursive;
    color: #AC3B61;
    text-shadow: 2px 2px 2px #123C69; }
  .aboutMe p, .skills p, .portfolio p {
    text-align: justify; }

.column {
  border-bottom: #EEE2DC solid 0.1px;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 2.5%; }
  .column h2 {
    margin: auto;
    height: 70px;
    background-color: #EDC7B7;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .column ul {
    list-style: none;
    padding: 0;
    display: none; }

.boxShadow {
  border-radius: 5%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.project {
  margin-bottom: 2.5%;
  background-color: #EDC7B7;
  padding-bottom: 2.5%; }
  .project h2 {
    text-align: center; }
  .project h3 {
    margin-left: 2.5%; }
  .project .overlay {
    position: relative; }
    .project .overlay:hover::after {
      content: '';
      position: absolute;
      left: 0;
      width: 95%;
      margin-left: 2.5%;
      height: 99%;
      background: #AC3B61;
      opacity: .8; }
  .project .buttons {
    text-align: center;
    margin-top: 10px; }

img {
  width: 95%;
  height: auto;
  margin-left: 2.5%; }

/*******600PX AND LARGER VERSION**********/
@media screen and (min-width: 600px) {
  .container {
    position: absolute; }

  .mainContent {
    float: right;
    width: 80%; }

  .aboutMe, .skills, .portfolio {
    margin-left: 1%; }

  .skills {
    float: inherit;
    width: 99%; }

  .column {
    float: left;
    width: 32%;
    margin-right: 1%; }

  .portfolio {
    clear: both; }

  .project {
    position: relative; }
    .project .buttons {
      top: 40%;
      transform: translateY(-60%);
      position: absolute;
      width: 100%;
      margin: 0 auto; }

  .last {
    margin-bottom: 0; }

  .desktopShow {
    display: inherit; }

  .desktopHide {
    display: none; }

  /*SIDE CONTENT*/
  /*SIDE NAV*/
  .sideContent {
    width: 20%;
    height: 100%;
    position: inherit;
    background: #123C69; }
    .sideContent .sidenav {
      position: sticky;
      top: 0; }
      .sideContent .sidenav a {
        display: block;
        color: #EEE2DC;
        margin: 30px 15px;
        text-decoration: none; }
        .sideContent .sidenav a:hover {
          color: #EDC7B7; } }
@media screen and (min-width: 600px) and (max-width: 675px) {
  .skills .column .inner h2 {
    font-size: 1em; } }
/*******END**********/

/*# sourceMappingURL=main.css.map */
